body {
    font-family: Arial;
}

pre {
    position: relative;
    display: block;
}

pre[data-es5]::before {
    position: absolute;
    top: -11px;
    left: 5px;
    color: red;
    padding: 0 5px;
    box-sizing: border-box;
    background-color: white;
    content: "ES5";
}

features-menu {
    display: block;
    float: left;
    width: 30%;
}

.features-menu-link {
    display: block;
    padding: 10px;
}

features-content {
    display: block;
    float: right;
    width: 70%;
}

feature-content {
    display: none;
}