body {
    font-family: Arial;
    padding: 30px;
}

pre {
    position: relative;
    display: block;
}

h1 {
    margin-top: 0;
}

pre[data-es5]::before {
    position: absolute;
    top: -11px;
    left: 5px;
    color: red;
    padding: 0 5px;
    box-sizing: border-box;
    background-color: white;
    content: "ES5";
}

features-menu {
    display: block;
    float: left;
    width: 30%;
    padding-right: 30px;
    box-sizing: border-box;
}

.features-menu-group-title {
    padding: 10px;
    background-color: #eee;
}


.features-menu-group-link {
    display: block;
    padding: 10px 10px 10px 20px;
}

.features-menu-group-link {
    cursor: pointer;
}

.features-menu-group-link.is-active {
    background-color: #B1E2F2;
}

features-content,
#no-features-content-message {
    display: block;
    float: right;
    width: 70%;
    box-sizing: border-box;
}

feature-content {
    display: none;
}

#no-features-content-message {
    padding: 20px;
    background-color: #B1E2F2;
}